.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home Page */

.container{
  background-color: #FFEFD3;
  font-family: 'Spartan';font-size: 22px;
  width:100%;
  
}

.homepage{
  display:flex;
  justify-content: space-around;
  flex-basis: auto;
  align-items: center;
  margin-top: 200px;
}


.button {
  border-radius: 36px;
  font-weight: bold;
  padding: 10px 50px;
  
}

.login{
  background: #FFB100;
  margin-bottom: 40px;
  
}

.signup{
  background: #294C60;
  color: #FFB100;
  
}

.homeHeader{
  font-size: 50px;
}


/* LOST & FOUND ITEMS PAGE */




/* ITEM COMPONENT */

.itemBackground{
  background: #FFB100;
  width: 40%;
  height: auto;
  padding: 30px;
  border-radius: 30px;
  margin: 40px;
  
}

.itemHeader{
  background-color: antiquewhite;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
}

.itemDesc{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFEFD3;
  margin-top: 20px;
}